html {
  height: 100%;
  box-sizing: border-box;
}
*,*:before,*:after { box-sizing: inherit; outline: none; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
  margin: 1rem 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
p {
  line-height: 1.5rem;
}
code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}