$baseURL: "http://localhost:3000";
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}
*,*:before,*:after { box-sizing: inherit; outline: none; }
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b;
}
h1,h2,h3,h4,h5 {
  margin: 1rem 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}