@import './base.scss';
@import './template.scss';

$lightColor: #fff;
$darkColor: #3b3b3b;
$redColor: #ff4a4a;
$blueColor: #62b1d8;

h1{
  font-size: 3.5em;
  font-weight: 200;
  margin-top: 2.5rem;
}
h2{
  margin-top: 2rem;
  font-weight: 400;
}
h6{
  margin: 1rem 0;
  font-size: 0.9rem;
}
main {
  background: $darkColor;
  color: $lightColor;
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  section {
    width: 100%;
    min-height: 300px;
    color: #fff;
    padding: 2.5rem;
  }
}
header {

}
footer {
  text-align: center;
  padding: 1rem;
}
.code-block{
  background-color: #f0f0f0;
  border-radius: 6px;
  pre{
    padding: 1rem;
  }
  code{
    background: none;
    padding: 0;
  }
}
code{
  background-color: #f0f0f0;
  color: #000;
  padding: 0 0.25rem;
  border-radius: 6px;
}
kbd{
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
.light-background{
  background: $lightColor;
  color: #000;
}
a {
  &.link {
    font-weight: 600;
    transition: 0.5s;

    &:hover {
      text-decoration: underline;
      opacity: 0.6;
    }
  }
  &.label {
    font-size: 0.9rem;
    background-color: $blueColor;
    color: #fff;
    border-radius: 6px;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    font-weight: 400;
  }
}
.logo {
  width: 75px;
}
