section{
  &.section-top {
    margin-top: 0;
    background: url('../../assets/imgs/painting.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    div{
      z-index: 1;
      > * {
        margin: 1rem 0;
      }
    }
  }
  &.webpack-color{
    background: rgb(71,125,167);
    background: linear-gradient(144deg, rgba(71,125,167,1) 0%, rgba(132,174,193,1) 100%);
  }
  &.sass-color{
    background: rgb(186,106,146);
    background: linear-gradient(144deg, rgba(186,106,146,1) 0%, rgba(218,219,223,1) 100%);
  }
  &.postcss-color{
    background: rgb(176,49,16);
    background: linear-gradient(144deg, rgba(176,49,16,1) 0%, rgba(250,248,245,1) 100%);
  }
  &.babel-color{
    background: rgb(60,60,56);
    background: linear-gradient(144deg, rgba(246,221,95,1) 0%, rgba(60,60,56,1) 100%);
  }
  .dynamic-background{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: url(https://picsum.photos/1920/1280?random=1&blur=1) no-repeat center; //https://picsum.photos
    background-size: cover;
    z-index: 0;
  }
}
.highlight-text{
  background: #ffffffdd;
  color: red;
  border-radius: 6px;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}
.js-text{
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #ccc;
}
.main-title{

}