section{
  &.section-top {
    margin-top: 0;
    background: url('../../assets/imgs/painting.jpg') no-repeat center;
    background-image: url(https://picsum.photos/1920/1280?random=1&blur=1); //https://picsum.photos
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    div > * {
      margin: 1rem 0;
    }
  }
}