<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frameworkless Starter</title>
</head>
<body>
<header>

</header>
<main class="wrapper">
    <section class="section-top">
        <div class="container">
            <h1>Frameworkless Starter</h1>
            <h2>Webpack - Sass - Babel - ES Modules </h2>
            <img class="logo" src="../assets/imgs/webpack.png" alt="loading">
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Yet still cool!</h1>
            <h2>Features</h2>
            <ul>
                <li>Server</li>
                <li>Webpack</li>
                <li>Sass</li>
                <li>Babel</li>
                <li>Minification/Autoprefixing in Production</li>
                <li>ES Modules</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Server</h1>
            <h2>Serve</h2>
            <p>To serve a static site, single page application or just a static file</p>
            <div class="code-block"><pre>yarn add -D serve</pre></div>
            <p>If you prefer, you can also install the package globally using Yarn</p>
            <div class="code-block"><pre>yarn global add serve</pre></div>
            <p>Once it's time to push your site to production, we recommend using <a href="https://vercel.com/">Vercel</a></p>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>webpack</h1>
            <h2>Entry</h2>
            <p>Description</p>
            <pre><code>
                function{

                }
            </code></pre>
            <h2>Output</h2>
            <p>Description</p>
        </div>
    </section>
    <section>

    </section>
</main>
<footer>
<p><a href="https://github.com/giuseppebianchi" target="_blank">Giuseppe Bianchi</a></p>
</footer>
<!-- Webpack adds this script <script src="bundle.js"></script> -->
</body></html>