<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frameworkless Starter</title>
</head>
<body>
<header>

</header>
<main class="wrapper">
    <section class="section-top">
        <div class="dynamic-background"></div>
        <div class="container">
            <h1>Frameworkless Starter</h1>
            <h2>Webpack - Sass - Babel - ES Modules </h2>
            <img class="logo" src="../assets/imgs/webpack.png" alt="loading">
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Yet still cool!</h1>
            <h2>Features</h2>
            <ul>
                <li>Webpack</li>
                <li>Hot Module Replacement</li>
                <li>Sass</li>
                <lI>PostCSS</lI>
                <li>Babel</li>
                <li>ES Modules</li>
                <li>ES Lint</li>
                <li>HTTP Server</li>
            </ul>
        </div>
    </section>
    <section class="light-background">
        <div class="container">
            <h1>Get Ready</h1>
            <h2>Install Dependencies</h2>
            <p>Use <code>yarn</code> or <code>npm</code>.</p>
            <div class="code-block"><pre>yarn install</pre></div>
            <h1>Development</h1>
            <h2>Customize your app</h2>
            <p>It's not my business.</p>
            <div class="code-block"><pre>yarn dev</pre></div>
            <h1>Deploy</h1>
            <h2>Create Build</h2>
            <p>Tell Webpack to do some work.</p>
            <div class="code-block"><pre>yarn build</pre></div>
            <h2>Start Server</h2>
            <p>Launch website on <code>http://localhost:3000</code></p>
            <div class="code-block"><pre>yarn serve</pre></div>
            <p>Once it's time to push your site to production, deploy it on <a class="link" href="https://vercel.com/" target="_blank">Vercel.com</a>.</p>
        </div>
    </section>
    <!-- WEBPACK -->
    <section>
        <div class="container">
            <h1>Webpack</h1>
            <h2>Module Bundler</h2>
            <p>Description</p>
            <h2>Entry</h2>
            <p>Description</p>
            <div class="code-block"><pre>yarn add -D serve</pre></div>
            <h2>Output</h2>
            <p>Description</p>
            <div class="code-block"><pre>yarn add -D serve</pre></div>
        </div>
    </section>
    <!-- SERVE -->
    <section>
        <div class="container">
            <h1>Server</h1>
            <h2>Serve</h2>
            <p>To serve a static site, single page application or just a static file</p>
            <div class="code-block"><pre>yarn add -D serve</pre></div>
            <p>If you prefer, you can also install the package globally using Yarn</p>
            <div class="code-block"><pre>yarn global add serve</pre></div>
            <p>Once it's time to push your site to production, we recommend using <a href="https://vercel.com/">Vercel</a></p>
        </div>
    </section>
</main>
<footer>
<p><a href="https://github.com/giuseppebianchi" target="_blank">Giuseppe Bianchi</a></p>
</footer>
<!-- Webpack adds this script <script src="bundle.js"></script> -->
</body></html>